  /*|All|*/
  * {
    /*display*/
    margin: 0;
    padding: 0;
  }
  *::selection {
    /*display*/
    background: rgba(255, 255, 255, 0.7);
  }
  @font-face {
    font-family: 'Inter';
    src: url('font/Inter-Regular.ttf') format('truetype');
  }
  /*|All|*/

  /*|Body|*/
  body {
    /*display*/
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  /*|Body|*/

  /*|Main|*/
  .sec1 {
    /*display*/
    display: flex;
    height: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div1sec1 {
    /*display*/
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  .im1sec1 {
    /*display*/
    width: 3vw;
  }
  .tt1sec1 {
    /*font*/
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 300;
    color: #0039A6;
    /*display*/
    padding: 2vw;
  }
  .im2sec1 {
    /*display*/
    width: 15vw;
    height: auto;
    margin: 1vw;
    /*border*/
    border-radius: 1vw;
  }
  .tx1sec1 {
    /*font*/
    font-family: 'Inter';
    font-size: 20px;
    text-align: justify;
    /*display*/
    width: 70%;
  }
  .ul1sec1 {
    /*font*/
    font-family: 'Inter';
    font-size: 20px;
    text-align: justify;
    /*display*/
    position: relative;
    width: 70%;
    left: 2vw;
  }
  .tx2sec1 {
    /*font*/
    font-family: 'Inter';
    font-size: 20px;
    text-align: justify;
    /*display*/
    width: 70%;
  }
  .tx3sec1 {
    /*font*/
    font-family: 'Inter';
    font-size: 20px;
    text-align: justify;
    /*display*/
    width: 70%;
  }
  /*|Main|*/
  
  /*=====MOBILE MODE=====*/
  @media screen and (max-width: 768px) {
    /*|Main|*/
    .sec1 {
      /*display*/
      display: flex;
      height: 100vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .div1sec1 {
      /*display*/
      display: flex;
      width: 70%;
      flex-direction: row;
      justify-content: left;
      align-items: center;
    }
    .im1sec1 {
      /*display*/
      width: 3vw;
    }
    .tt1sec1 {
      /*font*/
      font-family: 'Inter';
      font-size: 30px;
      font-weight: 300;
      color: #0039A6;
      /*display*/
      padding: 2vw;
    }
    .im2sec1 {
      /*display*/
      width: 15vw;
      height: auto;
      margin: 1vw;
      /*border*/
      border-radius: 1vw;
    }
    .tx1sec1 {
      /*font*/
      font-family: 'Inter';
      font-size: 20px;
      text-align: justify;
      /*display*/
      width: 70%;
    }
    .ul1sec1 {
      /*font*/
      font-family: 'Inter';
      font-size: 20px;
      text-align: justify;
      /*display*/
      position: relative;
      width: 70%;
      left: 2vw;
    }
    .tx2sec1 {
      /*font*/
      font-family: 'Inter';
      font-size: 20px;
      text-align: justify;
      /*display*/
      width: 70%;
    }
    .tx3sec1 {
      /*font*/
      font-family: 'Inter';
      font-size: 20px;
      text-align: justify;
      /*display*/
      width: 70%;
    }
    /*|Main|*/
  }
  /*=====MOBILE MODE=====*/