  /*|All|*/
  @font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.ttf') format('truetype');
  }
  * {
    /*font*/
    font-family: 'Inter';
    /*display*/
    margin: 0;
    padding: 0;
  }
  *::selection {
    /*display*/
    background: rgba(255, 255, 255, 0.7);
  }
  /*|All|*/

/*|Body|*/
body {
  /*display*/
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*|Body|*/

/*|Main|*/
.sec1 {
  /*display*/
  display: flex;
  width: 100%;
  height: 50vw;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.ic1sec1 {
  /*display*/
  width: 3vw;
  height: auto;
}
.tt1sec1 {
  /*font*/
  font-size: 35px;
  color: #1A4DAF;
  /*display*/
  display: flex;
  position: relative;
  width: 100%;
  height: 5vw;
  margin: 5vw;
  justify-content: center;
  align-items: center;
}
.div1sec1 {
  /*display*/
  display: flex;
  width: 65%;
  height: 30vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*border*/
  border: 1px solid #0039A6;
  border-radius: 0.25vw;
}
.div2sec1 {
  /*display*/
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.ul1sec1 {
  /*font*/
  list-style-type: none;
  /*display*/
  width: 35vw;
}
.li1sec1 {
  /*font*/
  color: #0039A6;
  /*display*/
  margin: 2vw;
}
#nome {
  /*display*/
  width: 25vw;
  /*border*/
  border: 1px solid #0039A6;
  border-radius: 0.25vw;
}
.li2sec1 {
  /*font*/
  color: #0039A6;
  /*display*/
  margin: 2vw;
}
#email {
  /*display*/
  width: 25vw;
  /*border*/
  border: 1px solid #0039A6;
  border-radius: 0.25vw;
}
.li3sec1 {
  /*font*/
  color: #0039A6;
  /*display*/
  margin: 2vw;
}
#telefone {
  /*display*/
  width: 19.5vw;
  /*border*/
  border: 1px solid #0039A6;
  border-radius: 0.25vw;
}
.li4sec1 {
  /*font*/
  color: #0039A6;
  /*display*/
  display: flex;
  margin: 2vw;
  justify-content: start;
  align-items: start;
}
#anexo {
  /*display*/
  width: 18vw;
  height: 6vw;
  padding: 0.25vw;
  /*border*/
  border: 1px solid #0039A6;
  border-radius: 0.25vw;
}
.div3sec1 {
  /*display*/
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bt1sec1 {
  /*font*/
  font-size: 15px;
  text-decoration: none;
  color: #FFFFFF;
  /*display*/
  display: flex;
  width: 3vw;
  padding: 1vw 4vw;
  justify-content: center;
  align-items: center;
  background: #1A4DAF;
  /*border*/
  border-radius: 0.25vw
}
.div4sec1 {
  /*display*/
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.im1sec1 {
  /*display*/
  width: 25vw;
  height: 15vw;
  padding: 1vw;
  /*border*/
  border-radius: 2vw;
}
/*|Main|*/

/*=====MOBILE MODE=====*/
@media screen and (max-width: 768px) {
  /*|Main|*/
  .sec1 {
    /*display*/
    height: 200vw;
  }
  .ic1sec1 {
    /*display*/
    width: 6vw;
  }
  .tt1sec1 {
    /*font*/
    font-size: 40px;
    /*display*/
    height: 12vw;
    margin-top: 33vw;
  }
  .div1sec1 {
    /*display*/
    width: 80%;
    height: 140vw;
    flex-direction: column-reverse;
  }
  .div2sec1 {
    /*display*/
    width: 100%;
  }
  .li1sec1 {
    /*display*/
    margin: 5vw 2vw;
  }
  #nome {
    /*display*/
    width: 70vw;
  }
  .li2sec1 {
    /*display*/
    margin: 5vw 2vw;
  }
  #email {
    /*display*/
    width: 70vw;
  }
  .li3sec1 {
    /*display*/
    margin: 5vw 2vw;
  }
  #telefone {
    /*display*/
    width: 70vw;
  }
  .li4sec1 {
    /*display*/
    width: 70vw;
    margin: 5vw 2vw;
  }
  #anexo {
    /*display*/
    width: 32vw;
    height: 10vw;
  }
  .bt1sec1 {
    /*display*/
    width: 20vw;
    height: 8vw;
    /*border*/
    border-radius: 2vw
  }
  .div4sec1 {
    /*display*/
    width: 100%;
    height: 100%;
  }
  .im1sec1 {
    /*display*/
    width: 70vw;
    height: 50vw;
    padding: 3vw;
  }
  /*|Main|*/
}
/*=====MOBILE MODE=====*/